table {
    max-width: 500px;
}

#tabela {
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.50);
}

body {
    padding: 8px;
}

#preco p {
    width: 300px;
}

header {
    margin-bottom: 50px;
}

#iphone-13 {
    margin-top: 50px;
}